@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #395b64;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 30rem;
  background-color: #a5c9ca;
  padding: 20px;
  border-radius: 10px;
}

button {
  width: 100%;
  background-color: #395b64;
  border-radius: 5px;
  color: wheat;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}

.container-password {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-bottom: 10px;
}
#password {
  width: 100%;
  background-color: white;
  padding: 10px;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 20px;
}
